### E. Comportamento Temporal

1. Há algum padrão de horário com mais vendas (por exemplo, manhã x tarde)?
2. Quais são as horas do dia mais movimentadas?
3. Há diferença no total de vendas entre dias úteis e fins de semana?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel(r'C:\Users\USER\OneDrive\Documentos\Repos\Projeto\supermarket_sales.xlsx')
df1 = df.copy()

# Limpando a coluna Date
df1['Date'] = pd.to_datetime(df1['Date'], errors='coerce')
df1['Dia_Semana'] = df1['Date'].dt.day_name()
df1['Mes'] = df1['Date'].dt.month_name()
df1['Date'] = df1['Date'].dt.date

display(df1.head())

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Dia_Semana,Mes
0,692-92-5582,B,Mandalay,Member,Female,Food_and_beverages,54.84,3,8.226,172.746,2019-02-20,13:27:00,Credit card,164.52,4.761905,8.226,5.9,Wednesday,February
1,351-62-0822,B,Mandalay,Member,Female,Fashion_accessories,14.48,4,2.896,60.816,2019-06-02,18:07:00,Ewallet,57.92,4.761905,2.896,4.5,Sunday,June
2,529-56-3974,B,Mandalay,Member,Male,Electronic_accessories,25.51,4,5.102,107.142,2019-09-03,17:03:00,Cash,102.04,4.761905,5.102,6.8,Tuesday,September
3,299-46-1805,B,Mandalay,Member,Female,Sports_and_travel,93.72,6,28.116,590.436,2019-01-15,16:19:00,Cash,562.32,4.761905,28.116,4.5,Tuesday,January
4,319-50-3348,B,Mandalay,Normal,Female,Home_and_lifestyle,40.30,2,4.030,84.630,2019-11-03,15:30:00,Ewallet,80.60,4.761905,4.030,4.4,Sunday,November

1. Há algum padrão de horário com mais vendas (por exemplo, manhã x tarde)?

In [4]:
resultado = df1.loc[:, ['Time', 'Invoice ID']].groupby('Time').count().sort_values('Invoice ID', ascending=False).reset_index()
display(resultado)

         Time  Invoice ID
0    19:48:00           7
1    14:42:00           7
2    17:38:00           6
3    19:44:00           5
4    10:11:00           5
..        ...         ...
501  20:52:00           1
502  10:04:00           1
503  20:55:00           1
504  20:57:00           1
505  10:03:00           1

[506 rows x 2 columns]

3. Há diferença no total de vendas entre dias úteis e fins de semana?

In [ ]:
resultado = df1.loc[:, ['Dia_Semana', 'Invoice ID']].groupby('Dia_Semana').count().sort_values('Invoice ID', ascending=False).reset_index()
display(resultado)

  Dia_Semana  Invoice ID
0    Tuesday         159
1  Wednesday         153
2     Sunday         148
3   Thursday         144
4     Friday         139
5   Saturday         136
6     Monday         121